@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<address>
    Loja Geek<br />
    Rua Desconhecido Chega ai<br />
    Telefone:(51)999999999
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@lojageek.com">Support@lojageek.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@lojageek.com">Marketing@lojageek.com</a>
</address>
