@{
    ViewData["Title"] = "Inicial";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/camisa 1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Aqui você encontra as melhores camisas para você ou quem você gosta!!
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/camisas uchi.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Aqui você encontra as melhores camisas para você ou quem você gosta!!
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/casaco.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Aqui você encontra as melhores camisas para você ou quem você gosta!!
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section class="latest-products spad">
    <div class="container">
        <div class="product-filter">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Novos Produtos</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="product-list">
            <div class="col-lg-3 col-sm-6 mix all dresses bags">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="~/images/camisas uchi.jpg" alt=""></a>
                        <div class="p-status">Novo</div>
                    </figure>
                    <div class="product-text">
                        <p>R$ 22.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mix all dresses bags">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="~/images/camisa 1.jpg" alt=""></a>
                        <div class="p-status sale">Novo</div>
                    </figure>
                    <div class="product-text">
                        <p>R$ 25.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mix all shoes accesories">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="~/images/camisas 2.jpg" alt=""></a>
                        <div class="p-status">Novo</div>
                    </figure>
                    <div class="product-text">
                        <p>R$ 19.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mix all shoes accesories">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="~/images/camisa 3.jpg" alt=""></a>
                        <div class="p-status popular">Novo</div>
                    </figure>
                    <div class="product-text">
                        <p>R$ 35.50</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mix all dresses shoes">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="~/images/camisa 4.jpg" alt=""></a>
                        <div class="p-status">Novo</div>
                    </figure>
                    <div class="product-text">
                        <p>R$ 22.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mix all accesories bags">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="~/images/camisa 5.jpg" alt=""></a>
                        <div class="p-status sale">Novo</div>
                    </figure>
                    <div class="product-text">
                        <p>R$ 25.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mix all dresses bags">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="~/images/camisa 5.jpg" alt=""></a>
                        <div class="p-status popular">Novo</div>
                    </figure>
                    <div class="product-text">
                        <p>R$ 19.90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mix all accesories bags">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="~/images/camisa 6.jpg" alt=""></a>
                        <div class="p-status popular">Novo</div>
                    </figure>
                    <div class="product-text">
                        <p>R$ 35.50</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
